body {
    margin: 0px;
    padding: 0px;

    font-family: "PT Sans Narrow", Arial, serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: ffffff;
    text-transform: uppercase;
}